$margintitle: 25px;
$margintxt: 35px;
$marginbouton: 100px;
$weight700: 700;
$weight600: 600;
$weight400: 400;
$lineheight: 23px;
$linefooter: 30px;
$paddingeneral: 0 30px 0 30px;
$fontsizemob: 1.4rem;
$footercolor: hsl(192, 100%, 9%);
